<section class="footer">
    <div class="centered-container">
        <% for (const item of history) { %>
            <img class="cart-box-image" src="<%= item.image %>">
        <% } %>
    </div>
</section>