<!DOCTYPE html>
<html>
  <head>
    <title>Access Counter Page</title>
  </head>
  <body>
    <h1>Access Counter</h1>
    <p>This site has been accessed <%= counterValue %> times.</p>

    <!-- ispis broja posjeta pojedinog korisnika -->
    <p>You have accessed this site <%= userCounterValue %> times.</p>
    
    <form action="http://localhost:3000/" method="get">
      <input type="text" hidden name="sID" value="<%= sessionID %>">
      <input type="submit">
    </form>
  </body>
</html>
