<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' />
  </head>
  <body>
    <h1>Welcome to 'My books' webpage!</h1>
    <hr>
    <p>See the list of all my books <a href="/books">here</a>.</p>    
  </body>
</html>
