<!DOCTYPE html>
<html>
  <head>
    <title>Access Counter Page</title>
  </head>
  <body>
    <h1>Access Counter</h1>
    <p>This page has been accessed <%= counterValue %> times.</p>
  </body>
</html>
