<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/styles/site.css' />
</head>

<body>
<form action="/books/add" method="POST">
    <fieldset>
        <legend>New book</legend>
        <%- (locals.error) ?  `<h3>Error: ${error}</h3>` : '' %>
        <div><label for="" title"">Title:</label> <input type="text" name="title" id="title" size="30"></div>
        <div><label for="author">Author:</label> <% locals.selectData = locals.authorsSelect; %>
            <%- include(`partials/_select`); %></div>
        <div><label for="language">Language:</label> <% locals.selectData = locals.languagesSelect; %>
            <%- include(`partials/_select`); %></div>
        <div><label for="" publisher"">Publisher:</label> <input type="text" name="publisher" id="publisher"
                size="60"></div>
        <div><label for="" ISBN"">ISBN:</label> <input type="text" name="ISBN" id="ISBN" size="10"></div>
        <hr>
        <div class="submitButtons">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </fieldset>
</form>
</body>

</html>