<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    User: <%= user %><hr>
    <h1>Login</h1>
    <form action="/login" method="post">
      E-mail:<input type="email" name="email" maxlength="20" value="<%= login %>" minlength="10"> <br>
      Password: <input type="password" name="password" minlength="8"> <br>
      <br>
      <input type="submit"> <input type="reset"> 
    </form>
    <% if (err !== undefined ) { %>
      <p style="justify-content: center; background-color: red;"><%= err %></p>
    <% } %>
    <hr>
    <p>
      <a href="./">Main page</a><br>
      <a href="./profile">Profile page</a><br>
      <a href="./users">User space</a><br>
      <a href="./signup">Sign up</a><br>
      <a href="./login">Log in</a><br>
      <a href="./logout">Log out</a><br>
      <a href="./admin">Admin page</a><br>
      </p>
  </body>
</html>
