<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      </head>
    <body>
        User: <%= user %><hr>
        <h1>Sign up</h1>
        <form action="/signup" method="post">
            E-mail: <input type="email" maxlength="20" minlength="10" name="email"><br>
            First name: <input type="text" maxlength="20" minlength="2" name="firstName"><br>
            Last name: <input type="text" maxlength="20" minlength="2" name="lastName"><br>
            <br>
            Enter password (1): <input type="password" maxlength="20" minlength="8" name="passwd1"><br>
            Enter password (2): <input type="password" maxlength="20" minlength="8" name="passwd2"><br>
            <hr>
            <input type="submit">
            <input type="reset">
        </form>

        <% if (err !== undefined ) { %>
        <p style="justify-content: center; background-color: red;"><%= err %></p>
        <% } %>
        <hr>
        <p>
          <a href="./">Main page</a><br>
          <a href="./profile">Profile page</a><br>
          <a href="./users">User space</a><br>
          <a href="./signup">Sign up</a><br>
          <a href="./login">Log in</a><br>
          <a href="./logout">Log out</a><br>
          <a href="./admin">Admin page</a><br>
        </p>
    </body>
</html>
