<!DOCTYPE html>
<html>
  <head>
    <title>User Space</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    User: <%= user %><hr>
    <h1>User Space Page: </h1>
    <p>Accessible only to registered users.</p>
    <p>You have visited this page for <%= user_count %> times.</p>
    <p>This page has been visited for <%= global_count %> times.</p>
    <hr>
    <p>
      <a href="./">Main page</a><br>
      <a href="./profile">Profile page</a><br>
      <a href="./users">User space</a><br>
      <a href="./signup">Sign up</a><br>
      <a href="./login">Log in</a><br>
      <a href="./logout">Log out</a><br>
      <a href="./admin">Admin page</a><br>
    </p>
  </body>
</html>
