<!DOCTYPE html>
<html>
  <head>
    <title>3rd Access Counter Page</title>
  </head>
  <body>
    <h1>Access Counter</h1>
    <p>This site has been accessed <%= counterValue %> times.</p>

    <!-- ispis broja posjeta pojedinog korisnika -->
    <p>You have accessed this site <%= userCounterValue %> times.</p>
    
    <!-- poveznice na ostale dvije stranice -->
    <hr>
    <a href="<%= s_url("http://localhost:3000/first") %>">Prva stranica</a><br>
    <a href="<%= s_url("http://localhost:3000/second") %>">Druga stranica</a>
  </body>
</html>
