* {
  box-sizing: border-box;

  margin: 0;
}
.fb-form-container {
  font-size: large;
  width: 34rem;
  background-color: pink;
  margin: 1rem 15vw;
  padding: 20px;
}
.heading {
  font-size: 2.25rem;
}

.heading,
.text {
  margin-bottom: 1rem;
}

.fb-form > * {
  margin-block: 1rem;
}
